#mapL {
    margin-bottom: 10px;
    height: 100%;
    width: 100%;
    min-height: 300px;
    -webkit-box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


/* Optional: Makes the sample page fill the window. */

.body {
    background-color: #E5E5E5;
}

.listGP {
    overflow-y: scroll;
    height: 250px;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}


.titres{
    color:#191919;
    text-align: center;
    font-weight: bold;
}
p {
    font-size: 12px !important;
}
.box{
    margin: 10px;
}
.boite-simple {
    margin-bottom: 15px;
    border-radius: 3px;
    background-color: #fff;
    padding: 5px;
}

.footer-box {
    background-color: #fff;
    padding: 0px;
}

.navigation {
    height: fit-content;
}
.vertical-center {
    margin: 0;
    display: flex;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.logo {
    text-align: center;
}

.boite-liste {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.mapConteneur {
    height: 100%;
    max-height: 600px;
    width: 100%;
    border-radius: 37px;
}

.containerHamburger {
    display: inline-block;
    cursor: pointer;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.hamburger {
    height: 100%;
    width: 100%;
    float: right;
}

.conteneurHam {
    margin-top: auto;
    margin-bottom: auto;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.participer{
    color:#FFF;
	width: 104px;
	height: 48px;
    border:none;
	
}
.icone-localisation{
	color: #C4C4C4;
}
.bouton-evergreen{
	background: linear-gradient(180deg, #43F7B8 0%, #36FC59 100%), #C4C4C4;
	border-radius: 50px;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.truncate {
    text-overflow: ellipsis;

}